.movie__content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: .5rem;
    width: 100%;
}

.paginationContainer{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.prevBtn, .nextBtn{
    border: 1px solid red;
    padding: .5rem;
    border-radius: 8px;

}
.paginationActive{
    background-color: red;
    padding: .4rem;
}
.paginationDisabled{
    background-color: white;
    padding: .4rem;
    border-color: grey;
    color: gray;
}