.home__container{
    display: flex;
    width: 100%;
    padding: 1.5rem;
    /* border: 2px solid orange; */
    position: relative;
    justify-content: center;
    

}

.home__filter__container{
    position: sticky;
    z-index: 100;
    width: 100%;
    background: gray;
    padding: 1rem 4rem;
    top: 0;
}