.nav__container{
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    

}
.toggle__icons{
    position: absolute;

    display: none;
}
.side__bar__burger{
    color: var(--black);
    margin-right: 1rem;
    font-size: 1.3rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--red);
}

.user__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}
.user__icon i{
    font-size: 1.2rem;
    cursor: pointer;
}
.user__icon__toggle{
    position: absolute;
    right: 3rem;
    top: 0;
    width: 20em;
    background: var(--white);
    box-shadow: 1px 4px 8px;
    padding: .5rem;
    display: none;
}
.user__icon__toggle.active{
    display: block;
}

.toggle__account__container{
    overflow-y: scroll;
    height: 82vh;
}                     

.navbar__toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}



@media(max-width: 800px){

   .nav__items{
    height: 100vh;
    position: absolute;
    z-index: 4;
    top: 2em;
    right: -500px;
    background: var(--red);
    width: 70%;
    transition: .3s ease-in-out;
    z-index: 10;

   }
    .nav__items.active {
         right: 0;
    }
    .navbar__toggle{

        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        margin-left: 2rem;
        margin-top: 30%;

    }

    .toggle__icons{
    position: absolute;
    left: 1rem;
    top: .5rem;
    display: block; 
    }

}

