:root{
  --red: #BF1B1B;
  --red-shed: #BF1B28;
  --black: #141015;
  --white: #FFFFFF;
  --gray: rgb(214, 211, 211);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
ul{
  list-style: none;
}
a{
  color: var(--black);
  
}